<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <title>Document</title>
</head>
<body>
    
    <header>
      <h1>AVAILABLE MOVIES</h1>
    </header>

    <section class="search-section">

      <form action="/movies" action="GET" class="movie-list-form">
        <label for="search">Search Genre</label>
        <input type="text" name="genre" id="input-search" required>
        <button type="submit" id="search-btn">Search</button>
        
        <div class="movies-list">
            <label id="movie-lbl">MOVIE LISTS <%= filter %></label>
            <label id="nav">ID.....TITLE.....YEAR</label>
            <div class="movies-show">
              <% if(movies && movies.length > 1){ %>
                <% movies.forEach(elem => { %>
                  <label>  <%= elem.id %>.. <%= elem.title %>...  <%= elem.year %></label><br>
                <% }) %>
              <% }%>
              <% if(movies && movies.length == 1){ %>
                  <label>  <%= movies[0].id %>.. <%= movies[0].title %>...  <%= movies[0].year %></label><br>
              <% }%>
          </div>
        </div>
        
      </form>    
    </section>


    <section class="add-section">

      <form action="/movies/add" action="POST" class="movie-add-form">
        <label for="add" id="add-lbl">Add Movies</label>
        <input type="text" name="title" id="input-title" required>
        <input type="date" name="year" id="input-year" required>
        <input type="text" name="genre" id="input-genre" required>
        <button type="submit" id="add-btn">Add</button>

        <div class="movies-list">
          <label id="movie-lbl">MOVIE LISTS <%= filter %></label>
          <label id="nav">ID.....TITLE.....YEAR</label>
          <div class="movies-show">
            <% if(movies && movies.length > 1){ %>
              <% movies.forEach(elem => { %>
                <label>  <%= elem.id %>.. <%= elem.title %>...  <%= elem.year %></label><br>
              <% }) %>
            <% }%>
            <% if(movies && movies.length == 1){ %>
                <label>  <%= movies[0].id %>.. <%= movies[0].title %>...  <%= movies[0].year %></label><br>
            <% }%>
        </div>
      </div>
      
      </form>    
    </section>
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script> -->
    <script type="text/javascript" src="/js/index.js" ></script>
</body>
</html>